// .story {
//     width: 100%;
//     min-height: 1000px;
//     // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
//     display: flex;
//     justify-content: center;
//     background-color: #f8a59f;
//     // margin-top: 1px;
// }

// .story-inner {
//     height: 100%;
//     width: var(--default-layout-width);
//     margin-top: 15px;
//     // background-color: red;
// }

// .story__component--left {
//     display: flex;
//     justify-content: center;

//     // align-items: center;
//     // flex: 1;
// }

// img {
//     box-shadow: 0 8px 60px 0 rgba(103, 151, 255, 0.11), 0 12px 90px 0 rgba(103, 151, 255, 0.11);
// }
// .story__component--left-content {
//     flex: 1;
//     padding-left: 100px;
//     font-size: 1.8rem;
//     align-self: center;
//     line-height: 2;
//     text-align: justify;
// }

// .story__component--right {
//     margin-top: 25px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .story__component--right-content {
//     // background-color: red;
//     flex: 1;
//     padding-right: 100px;
//     font-size: 1.8rem;
//     align-self: center;
//     line-height: 2;
//     text-align: justify;
// }




.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .row{
    width: var(--default-layout-width);
    margin: auto;
}
.container .row .header{
    width: 60%;
    text-align: center;
    margin: auto;
}
.container .row .header h1{
    padding-top: 30px;
    font-size: 45px;
    color: #e19c30;
}

.container .row .header p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #6e6e6e;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.content .card{
    flex: 1;
    margin: 50px 50px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: #fff;
}
.content .card img{
    width: 100%;
    height: auto;
}   
.content .card h4{
  
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}

.content .card p{
  font-size: 15px;
  color: #6e6e6e;
  line-height: 1.5;
  padding: 10px;
}


// @media screen and (max-width: 768px) {
//     .content{
//         flex-direction: column;
//     }
// }