.wrapper {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img { 
        width: 100%;
        height: 500px;
        object-fit: cover;    
    }

    .inner { 
        width: var(--default-layout-width);
        // background-color: orange;
        justify-content: space-between;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .inner-first { 
            display: flex;
            margin: 50px 0;
            position: relative;

            .title, 
            .brand { 
                font-size: 2rem;
                text-transform: uppercase;
                padding: 0 15px;
            }

            .brand {
                color: #7f7f7f; 
            }

            .title::after { 
                content: "";
                display: block;
                width: 4px;
                height: 25px;
                background-color: #000;
                position: absolute;
                left: 23%;
                top: 2px;
            }
        }

        .inner-middle { 
            display: flex;
            flex-direction: row;
            margin: 40px 0;
            
            .middle-left { 
                flex: 2;

                img { 
                    width: 100%;
                    object-fit: cover;
                    height: 800px;
                }
            }

            .middle-right { 
                flex: 2;
                margin-left: 50px;

                .title { 

                }
                
                .desc { 
                    margin-top: 40px;
                    text-align: justify;

                    .bold { 
                        font-weight: 700;
                    }
                }

                .sub { 
                    margin: 50px 0;
                    text-align: center;
                    font-size: 3rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
        }
    }
}