.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.inner {
    width: var(--default-layout-width);
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-content: center;
    // background-color: #ccc;
    text-align: center;
    // height: 1000px;
    border: 5px solid #ccc;
    letter-spacing: 1px;
    box-shadow: 5px 1px 20px var(--background-color);
    border: 1px solid #ccc;
}

.inner-content {
    font-size: 1.6rem;
}

.btn-inner {
    margin-top: 20px;
    border-radius: 20px;
    text-transform: uppercase;
}


.inner-info-order {
    // background-color: #ccc;
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.info-order-details {
    width: 100%;
    // background-color: red;
}

.info-title {
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.info-border {
    width: 100%;
    padding: 10px 24px;
    border: 5px solid #ccc;
}

.info-border__header {
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: red;
}

.info-border th,
.info-border tr {
    width: 400px;
}

.info-border-title {
    display: block;
    margin-top: 20px;
}

.more-options { 
    text-align: start;
    padding: 20px 0;
}

hr { 
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}