
.wrapper {
    width: 100%;
    height: 404px;
    background-color: #262626;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.inner {
    width: var(--default-layout-width);

    .content {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .link { 
            color: var(--white-color);
        }

        .inner-left {
            display: flex;
            flex-direction: column;

            
            li {
                list-style: none;
                position: relative;
                padding: 5px;
                color: var(--white-color);

                &:not(:first-child)::before {
                    content: '';
                    position: absolute;
                    transform: translate(-50%, -50%);
                    left: 30%;
                    right: 150%;
                    top: 100%;
                    width: 0;
                    height: 2px;
                    background: #f18930;
                    transition-duration: 0.5s;
                }
                &:hover::before {
                    width: 60px;
                    cursor: pointer;
                }

                &:first-child {
                    text-transform: capitalize;
                    font-weight: 700;
                    font-size: 20px;
                    user-select: none;
                }
            }

        }

        .inner-middle {
            display: flex;
            flex-direction: column;
            li {
                list-style: none;
                position: relative;
                padding: 5px;
                color: var(--white-color);

                &:not(:first-child)::before {
                    content: '';
                    position: absolute;
                    transform: translate(-50%, -50%);
                    left: 25%;
                    right: 100%;
                    top: 100%;
                    width: 0;
                    height: 2px;
                    background: #f18930;
                    transition-duration: 0.5s;
                }
                &:hover::before {
                    width: 100px;
                    cursor: pointer;
                }

                &:first-child {
                    text-transform: capitalize;
                    font-weight: 700;
                    font-size: 20px;
                    user-select: none;
                }
            }
        }

        .address,
        .phone {
            color: var(--white-color);

            .icon {
                padding: 5px 10px;
            }
        }

        .address {
            p {
                width: 200px;
                padding: 20px 15px;
                font-size: 1.2rem;
            }
        }
    }

    hr {
        border-top: 1px solid rgba(238, 238, 238, 0.385);
    }
    
    .bottom { 
        color: var(--white-color);
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bottom-right { 
            // font-size: 18px;
            .bottom-icon { 
                padding: 0 10px;

                &:hover { 
                    cursor: pointer;
                }
                &:active { 
                    color: #ffffff92;
                }
            }

            span { 
                user-select: none;
                // font-size: 12px;
            }
        }
    }
}
