.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    background-color: #f8a59f;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    .brand { 
        line-height: 60px;
        text-decoration: overline;
        // text-decoration: underline;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}
.inner img {
    width: 105px;
    height: 100%;
}

.headerMenu ul {
    line-height: var(--default-layout-header-height);
    position: relative;
}

.headerMenu ul li {
    display: inline-block;
}

.headerMenu ul li a {
    // list-style: none;
    padding: 0 24px;
    text-transform: uppercase;
    // &:hover {
    //     color: #ffff;
    //     cursor: pointer;
    // }

    position: relative;
    display: block;
    text-transform: uppercase;
    // margin: 20px 0;
    // padding: 10px 20px;
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    transition: 0.5s;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: var(--default-layout-header-height);
        border-top: 1px solid #262626;
        border-bottom: 1px solid #262626;
        transform: scaleY(2);
        opacity: 0;
        transition: 0.3s;
    }
    &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: var(--default-layout-header-height);
        background-color: #262626;
        transform: scale(0);
        opacity: 0;
        transition: 0.3s;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            transform: scaleY(1);
            opacity: 0.5;
            cursor: pointer;
        }
        &:after {
            transform: scaleY(1);
            opacity: 1;
            cursor: pointer;
        }
    }
}

// icon
.icon {
    line-height: var(--default-layout-header-height);
    display: flex;
    align-items: center;
    justify-content: center;    

}

.icon__main {
    display: flex;
    align-items: center;
    // justify-content: center;
}

.icon__main .avatar {
    width: 32px; 
    height: 32px;
    object-fit: cover;
    margin-top: 12px;
    border-radius: 50%;
}

.icon-btn { 
    background-color: transparent;
    font-size: 2rem;
    padding: 4px 6px;
}

.cartIcon {
    position: relative;
    span {
        font-size: 12px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: blue;
        color: var(--white-color);
        position: absolute;
        right: -10px; 
        top: 10px;
        display: flex; 
        align-items: center;
        justify-content: center;
        // text-align: center;
    }
}

.search {
    padding: 0px 10px;
    &:hover { 
        cursor: pointer;
        
    }
    &:active { 
        color: red;
        opacity: 0.7;
        
    }
}

.user {
    padding: 0 10px;
     &:hover { 
        cursor: pointer;
        
    }
    &:active { 
        color: red;
        opacity: 0.7;

    }
}

.cart {
    padding: 0 10px;
     &:hover { 
        cursor: pointer;
        opacity: 0.7;

        
    }
    &:active { 
        color: red;
        opacity: 0.7;
    }
}

// Menu items
.menu-items{
    width: 224px;
}

.more-btn {
    font-size: 2rem;
    margin-left: 12px;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
}



// *{
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
//     font-family: 'Courier New', Courier, monospace;
//     text-decoration: none;
//     list-style: none;
// }
// :root{
//     --bg-color: #222327;
//     --text-color: #fff;
//     --main-color: #29fd53;
// }
// body{
//     min-height: 100vh;
//     background: var(--bg-color);
// }
// header{
//     position: fixed;
//     width: 100%;
//     top: 0;
//     right: 0;
//     z-index: 1000;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     background: transparent;
//     padding: 28px 12%;
//     transition: all .50s ease;
// }
// .logo{
//     display: flex;
//     align-items: center;
// }
// .logo i{
//     color: var(--main-color);
//     font-size: 28px;
//     margin-right: 3px;
// }
// .logo span{
//     color: var(--text-color);
//     font-size: 1.7rem;
//     font-weight: 600;
// }
// .navbar{
//     display: flex;
// }
// .navbar Link{
// color: var(--text-color);
// font-size: 1.1rem;
// font-weight: 500;
// padding: 5px 0;
// margin: 0px 30px;
// transition: all .50s ease;
// }
// .navbar Link:hover{
//     color: var(--main-color);
// }
// .navbar Link.active{
//     color: var(--main-color);
// }
// .main {
// display: flex;
// align-items: center;
// }
// .main a{
// margin-right: 25px;
// margin-left: 10px;
// color: var(--text-color);
// font-size: 1.1rem;
// font-weight: 500;
// transition: all .50s ease;
// }
// .user{
//     display: flex;
//     align-items: center;
// }
// .user i{
//     color: var(--main-color);
//     font-size: 28px;
//     margin-right: 7px;
// }
// .main a:hover{
//     color: var(--main-color)
// }
// #menu-icon{
//     font-size: 35px;
//     color: var(--text-color);
//     cursor: pointer;
//     z-index: 10001;
//     display: none;
// }
// @media (max-width: 1280px){
//     header{
//         padding: 14px 2%;
//         transition: .2s;
//     }
//     .navbar a{
//         padding: 5ps 0;
//         margin: 0px 20px;
//     }
// }
// @media (max-width: 1090px){
//     #menu-icon{
//         display: block;
//     }
//     .navbar{
//         position: absolute;
//         top: 100%;
//         right: 2%;
//         width: 270px;
//         height: 29vh;
//         background: var(--main-color);
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-start;
//         border-radius: 10px;
//         transition: all .50s ease;
//     }
//     .navbar a{
//         display: block;
//         margin: 12px 0;
//         padding: 0px 25px;
//         transition: all .50s ease;
//     }
//     .navbar a:hover{
//         color: var(--text-color);
//         transform: translateY(5px);
//     }
// }


// .logo { 
//     // logo
// dqwdqwdqwd

// qwdqwdqwdqw

//     i { 
//         span {

//         }
//     }

//     span {

//     }
// }