.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.inner {
    width: var(--default-layout-width);
    // background-color: #ccc;
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin-top: 50px;

    .post {
        display: flex;
        gap: 100px;

        &:nth-child(2n+1) {
            flex-direction: row-reverse;
        }

        .img { 
            flex: 2;
            position: relative;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: lightcyan;
                position: absolute;
                top: 20px;
                left: -20px;
                z-index: -1;
            }
            img {
                width: 100%;
                max-height: 400px;
                object-fit: cover;
                
            }
        }
        
        .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                font-size: 4.8rem;
            }

            p { 
                font-size: 1.8rem;
            }

            button {
                width: max-content;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
                background-color: #fff;
                border: 1px solid var(--primary);

                &:hover {
                    border: 1px solid var(--primary);
                    background-color: lightcoral;
                    color: #000;
                }
            }

        }
    }

}