.wrapper { 
    width: 42px;
    height: 24px;
    border: 1.5px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    text-align: center;
    position: relative;
    cursor: pointer;

    .icon {
        font-size: 12px;
        color: yellowgreen;
    }

    .ball {
        width: 15px;
        height: 15px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
    }
}