
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.wrapper-sub {
    // background-color: #ccc;
    width: 50%;
    text-align: center;
    font-size: 1.8rem;
}

.wrapper-sub span { 
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.6rem;
    font-weight: 600;

    &:hover { 
        cursor: pointer;
    }
    
    &:active { 
        opacity: 0.8;
    }
}

.form-field  {
    width: var(--default-layout-width);
    margin: 0 auto;
}

.form-input {
    width: var(--default-layout-width);
    height: var(--button-height);
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 0 24px;
    margin-top: 20px;
    transition: 0.25s ease;

    &:focus {
        border-color: #6a5af9;
    }
}

.form-input__forget {
    width: 100%;
    height: var(--button-height);
    margin-top: 20px;
    border-radius: 20px;
    background-color: #000;
    color: var(--white-color);

    &:hover {
        cursor: pointer;
    }
    &:active {
        opacity: 0.8;
        transition: 0.25s ease-in;
    }
}

.form-sub { 
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-sub p { 
    color: #18A0FB;
    font-style: italic;
    margin-bottom: 20px;

    &:hover { 
        cursor: pointer;
    }

    &:active { 
        opacity: 0.7;
    }
}
